<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <!-- Limits set to 10 MB (specified value in bytes) -->
        <binding name="webBehaviorBinding" maxReceivedMessageSize="1048576000" maxBufferPoolSize="1048576000" maxBufferSize="1048576000" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="104857600" maxArrayLength="1048576000" maxBytesPerRead="1048576000" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="OSSServiceBinding" openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" allowCookies="true" maxBufferPoolSize="2047483647" maxReceivedMessageSize="2047483647">
          <readerQuotas maxDepth="2047483647" maxStringContentLength="2047483647" maxArrayLength="2047483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="OSSServiceTcpBinding" openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2047483647" maxReceivedMessageSize="2047483647">
          <readerQuotas maxDepth="2047483647" maxStringContentLength="2047483647" maxArrayLength="2047483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>