<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OssService">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="rest">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="OSSServiceBinding" openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" allowCookies="true" maxBufferPoolSize="2047483647" maxReceivedMessageSize="2047483647">
          <readerQuotas maxDepth="2047483647" maxStringContentLength="2047483647" maxArrayLength="2047483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="OSSServiceTcpBinding" openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2047483647" maxReceivedMessageSize="2047483647">
          <readerQuotas maxDepth="2047483647" maxStringContentLength="2047483647" maxArrayLength="2047483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>